.container {
  height: calc(100vh-60px);
  width: 100%;
}
.container1 {
  
  display: flex;
flex-direction: column;
  height: 100%;
  width: 100%;

  align-items: start;
  gap: 2.25rem;
  padding:10px;
  
}



.item {
  cursor: pointer;
  font-size: 18px;
  text-decoration: none;
  display: flex;
  /* justify-items: left; */
  
  gap: 1rem;
  top: 3rem;
  /* right: 0.25rem; */
  color:#1114c1;
  
 
}
item:hover {
  scale: 1.03;
  color: #1316d1
}
